.footer-container-main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 1440px;
    height: 422px;
    margin: auto;
    margin-bottom: 3rem;
    background: rgba(0, 66, 37, 0.09);
}
.footer-box-1{
    margin: auto;
}
.footer-box-1-img{
    margin: auto;
}
.footer-box-2{
    margin: 0 auto;
}

.footer-box-4{
    margin: 0 auto;
}

.footer-box-1-icon{
    display: flex;
    gap: 1rem;
}